.container{
    padding: 0;
    margin-top: -4rem;
    background-color: whitesmoke;
    border-radius: 2.5rem 2.5rem 0 0;
    position: relative;
    z-index: 1;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
}
.top h1{
    text-align: left;
    color: black;
    margin-left: 3rem;
}
.products{
    padding: 0 7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
